.question{
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	color: #636363;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 50px;
	padding-right: 30px;
    padding-left: 30px;
}

.unchosen{
	transition: all 0.15s;
	border-style: solid ;
	border-width: 2px;
}

.chosen{
	transition: all 0.15s;
	border-style: solid  ;
	border-width: 4px;
}

.option{
	width: auto;
	height: auto;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #636363;
	text-align: center;
	margin: auto;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 20px;
}

.option:hover{
	cursor: pointer;
	background-color: white;
	font-weight: 700;
	color: #323131;
	border-color: #323131;
	border-width: 2px;
}

.option-selected{
	width: auto;
	height: auto;
	color: #323131;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #323131;
	text-align: center;
	margin: auto;
	padding: 10px;
	background-color: rgb(231, 231, 231);
	font-weight: 700;
	margin-bottom: 20px;
}

.option-success{
	width: auto;
	height: auto;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #3b7f65;
	color: #3b7f65;
	text-align: center;
	margin: auto;
	padding: 10px;
	background-color: white;
	font-weight: 700;
	margin-bottom: 20px;
}

.option-failure{
	width: auto;
	height: auto;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #BF4A56;
	color: #BF4A56;
	text-align: center;
	margin: auto;
	padding: 10px;
	background-color: white;
	font-weight: 700;
	margin-bottom: 20px;
}

.text{
	font-weight: bold;
	font-size:16px;
	color:#0000ff;
	text-align: center;
}

.standard-btn{
	color: #5E64C4;
	font-weight: 700;
	font-size: 24px;
	border-color: #5E64C4;
	background-color: white;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	text-align: center;
	margin: auto;
	display: flex;	
}

.standard-btn:hover{
	background-color: #5E64C4;
	color: white;
}

.standard-btn:focus{
	background-color: #5E64C4;
	color: white;
	border-color: #5E64C4;
}

.row{
	margin: 60px;
	padding-right: 100px;
	padding-left: 100px;
}

.evaluation-message-right{
	background-color: #3b7f65;
	font-size: 24px;
	color: white;
	text-align: center;
	padding: 30px;
	width: 100%;
	height: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	display: none;
}

.evaluation-message-wrong{
	background-color: #BF4A56;
	font-size: 24px;
	color: white;
	text-align: center;
	padding: 30px;
	width: 100%;
	height: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	display: none;
}	

.progress{
	height: 30px !important;
	background-color: lightgray !important;
	border-radius: 100px !important;
	margin: 30px auto auto auto !important;
	width: 80%;
}

.progress-bar{
	background-color: #5E64C4 !important;
}

.img-container{
	display: flex;
	justify-content: center;
	margin: 40px;
}

.img-container img {
	width: 600px;
}

.show-score h1 {
	margin: 30px;
    font-size: 30px;
    text-align: center;
    color: #636363;
}

.show-score h2{
	color: white;
	background-color: #45a27a;
    height: 50px;
    text-align: center;
	border-radius: 10px;
	text-transform: uppercase;
    font-size: 18px;
	padding: 13px;
	font-weight: 750;
	width: 50%;
    margin: 30px auto;
}

.start-again-btn{
	color: #5E64C4;
	font-weight: 700;
	font-size: 24px;
	border-color: #5E64C4;
	background-color: white;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	text-align: center;
	margin: auto;
	display: flex;	
	justify-content: center;
	text-align: center;
	width: 50%;
}

.start-again-btn:hover{
	background-color: #5E64C4;
	color: white;
}

.start-again-btn:focus{
	background-color: #5E64C4;
	color: white;
	border-color: #5E64C4;
}